/*FE TechDegree Project 2 David Park */

/* Mobile-first display */
/* **************************** */




* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'McLaren', cursive;  /*New Google Font*/
    color:   black;
    margin: 0;
    padding: 0;
    max-width: 100%;
    line-height: 1.5;   
}








.header-wrapper {

    
    background-color: 	#F0F8FF;    /*alice blue   */
    width: 100%;
    font-size: 1.4em;
    padding: 10px;
    

}
.header-wrapper li{
    margin: 7px 20px 7px -10px;
    list-style-type: none;
}

.header-wrapper li a {
    display: block;
    background-color: white;
    text-decoration: none;
    padding: 15px 0;
   

}

a:hover {
    color: orange;
}


.portfolio-img {

    padding: 15px;
    width: 100%;
}

p {
    padding: 0 20px 0 20px;
    font-size: 1.5rem;

}

.portfolio-wrapper h1 {
    margin: 40px 0;

}

#profile-img {

    margin-top: 30px;
}
.contact-wrapper {
    padding: 0 20px;
    background-color: #F0F8FF;
    padding: 30px 0 40px 0;
    margin-top: 20px;

}
p.email {
margin-top: 0;

}

.footer-wrapper {
padding-bottom: 120px;

}
.footer-nav {
    display: none;
}

.name-bottom {
    float: left;

}

.btt {
    float: right;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 20px 15px 0 0;

}
/* ******************************************* */
/* media query 768   just floats and paddding/margin adjustment*/ 
/* ********************************************* */

@media (min-width: 768px)  {

.top-nav {
    margin: 0;

}
.top-nav li {
    
    display: inline-block;

}

.top-nav li a {
    background-color: transparent;
    
}

.profile-img {
    float: right;
    width: 45%;
    padding: 3%;
    

}

.greeting {
    width: 55%;
    float: left;


}

.search,
.map,
.calculator {
    float: right;
    margin-right: 25px;

}
.marketing,
.travel,
.photo {
margin-left: -5%;

}

.pic {
    width: 45%;
    display: inline-block;
   

}
.portfolio-text {
   font-size: 2rem;

}




.contact-wrapper p {
    padding: 5px 10px 5px 20%;
    width: 75%;
    text-align: center;
    }

.contact-wrapper a {
        padding: 2px;
        
    
        }
    

.btt {
    display: none;

}

.footer-nav {
    display: inline;
    float: right;
    margin: 0 5% 0 0;

}
.footer-nav li {
    display: block;
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    
}
.footer-nav li a {
    text-decoration: none;
    font-size: 1.3rem;

}


.name-bottom {
    float: left;
    margin-top: 3px;

}


}

/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  #portfolio {
    content: "";
    clear: both;
    display: table; 

  }

  /* ************************************************************************************ */
/* media query 1024   Had to use floats, margins, padding, and absolute positioning */
/* ***************************************************************************************** */

@media (min-width: 1024px) {

.name {
    float: left;
    margin-left: 30px;
    margin-top: -5px;

}
.header-wrapper {
   position: relative;

}
.top-nav {
 float: right;

}


.portfolio-wrapper {
   position: relative;
   margin-bottom: 40%;
}
.portfolio-wrapper h2 {
    margin-top: 0;

}

.portfolio-wrapper p {
    font-size: 1.1rem;

}
.pic {
width: 33%;

}
.marketing {
float: left;
margin-left: 1.5%;



}

.travel {
 position: absolute;
    right: -3%;

}
.search {
   position: absolute;
   left: 35%;
   

}

.map {
position: absolute;
top: 100%;
right: 64%;
}
.photo {
position: absolute;
top: 100%;
right: 32%;
}

.calculator {
    position: absolute;
    top: 100%;
    right:-5%;

}
.portfolio-wrapper {
    margin-right: 3%;

}

}